<script>
  function removeSong() {
    var elem = document.getElementById('yourSong');
    elem.parentNode.removeChild(elem);
    return false;
  }
</script>
<form action="">
  <div style="margin: auto">
    <input class="form-control" type="file" (change)="onFileChanged($event)" required >
    <div style="margin-bottom: 10px; margin-top: 10px">
      <button (click)="onUpload($event)" class="button_like_a" type="button" style="margin-right: 10px"
              *ngIf="selectedFile && checkUploadFile">Upload File Mp3
      </button>
      <button class="button_like_a" (click)="removeSong()" type="reset">Reset</button>
      <p *ngIf="!checkUploadFile" style="color: red">Không đúng loại file</p>
    </div>
    <div id="yourSong" *ngIf="downloadURL" style="margin-bottom: 10px; margin-top: 10px">
      <audio controls>
        <source [src]="downloadURL" style="width: 350px; height: auto">
      </audio>
    </div>
  </div>
</form>


