
  <div class="m24_heading_wrapper">
    <h1>Featured Artists</h1>
  </div>

  <div class="featured_song_slider">
    <div class="owl-carousel owl-theme">
      <div class="item" >
        <div class="featured_artist_list m24_cover" >
          <img src="{{artists[0]?.avatar}}" class="img-responsive" alt="img">
          <div class="featured_artist_detail">
            <p><a [routerLink]="['/user/artists/comments/',artists[0]?.id]">{{artists[0]?.nameArtist}}</a></p>
            <p class="various_artist_text"> {{artists[0].likes}} Like</p>
            <div class="lang_apply_btn">
              <ul>
                <li>
                  <a [routerLink]="['/user/detail/artists/',artists[0]?.id]"> <i class="flaticon-play-button"></i>play now</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="featured_artist_list m24_cover" >
          <img src="{{artists[1].avatar}}" class="img-responsive" alt="img">
          <div class="featured_artist_detail">
            <p><a [routerLink]="['/user/artists/comments/',artists[1]?.id]">{{artists[1].nameArtist}}</a></p>
            <p class="various_artist_text"> {{artists[1].likes}} Like</p>
            <div class="lang_apply_btn">
              <ul>
                <li>
                  <a [routerLink]="['/user/detail/artists/',artists[1]?.id]"> <i class="flaticon-play-button"></i>play now</a>
                </li>
              </ul>

            </div>
          </div>
        </div>
        <div class="featured_artist_list m24_cover" >
          <img src="{{artists[2].avatar}}" class="img-responsive" alt="img">
          <div class="featured_artist_detail">
            <p><a [routerLink]="['/user/artists/comments/',artists[2]?.id]">{{artists[2].nameArtist}}</a></p>
            <p class="various_artist_text"> {{artists[2].likes}} Like</p>
            <div class="lang_apply_btn">
              <ul>
                <li>
                  <a [routerLink]="['/user/detail/artists/',artists[2]?.id]"> <i class="flaticon-play-button"></i>play now</a>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>
      <div class="item" >
        <div class="featured_artist_list m24_cover" >
          <img src="{{artists[3].avatar}}" class="img-responsive" alt="img">
          <div class="featured_artist_detail">
            <p><a [routerLink]="['/user/artists/comments/',artists[3]?.id]">{{artists[3].nameArtist}}</a></p>
            <p class="various_artist_text"> {{artists[3].likes}} Like</p>
            <div class="lang_apply_btn">
              <ul>
                <li>
                  <a [routerLink]="['/user/detail/artists/',artists[3]?.id]"> <i class="flaticon-play-button"></i>play now</a>
                </li>
              </ul>

            </div>
          </div>
        </div>
        <div class="featured_artist_list m24_cover" >
          <img src="{{artists[4].avatar}}" class="img-responsive" alt="img">
          <div class="featured_artist_detail">
            <p><a [routerLink]="['/user/artists/comments/',artists[4]?.id]">{{artists[4].nameArtist}}</a></p>
            <p class="various_artist_text"> {{artists[4].likes}} Like</p>
            <div class="lang_apply_btn">
              <ul>
                <li>
                  <a [routerLink]="['/user/detail/artists/',artists[4]?.id]"> <i class="flaticon-play-button"></i>play now</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="featured_artist_list m24_cover" >
          <img src="{{artists[5].avatar}}" class="img-responsive" alt="img">
          <div class="featured_artist_detail">
            <p><a [routerLink]="['/user/artists/comments/',artists[5]?.id]">{{artists[5].nameArtist}}</a></p>
            <p class="various_artist_text"> {{artists[5].likes}} Like</p>
            <div class="lang_apply_btn">
              <ul>
                <li>
                  <a [routerLink]="['/user/detail/artists/',artists[5]?.id]"> <i class="flaticon-play-button"></i>play now</a>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


